:root {
  --fonts-chronicle: "ChronicleDisplay", Georgia, "Century Schoolbook L", serif;
  --fonts-gilroy: "Gilroy", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;

  --color-white: #fff;
  --color-orange: #FBD784;
  --color-dark: #0B1D26;
}

* {
  box-sizing: border-box;
}

html, body {
  font-size: 18px;
  height: 100%
}

body {
  position: relative;
  min-width: 320px;
  font-family: var(--fonts-gilroy);
  line-height: 1.75;
  overflow-x: hidden;
  opacity: 1;
}

img {
  max-width: 100%;
  height: auto;
  background-color: var(--color-orange);
}

.main-wrapper {
  margin: 0;
  width: 100%;
  background-color: var(--color-dark);
  background-image: url("../img/bg/BG.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.header__logo-link,
.header__link,
.article__button,
.footer__logo-link,
.footer__link {
  display: inline-block;
  text-decoration: none;
  color: var(--color-white);
  transition: color .5s ease-out;
}

.header__logo-link:hover,
.header__link:hover,
.footer__logo-link:hover,
.footer__link:hover {
  color: var(--color-orange)
}

.container {
  max-width: 1490px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/*------ scroll webkit only ------*/

::-webkit-scrollbar-track {
  background-color: var(--color-dark);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--color-orange);
}
::-webkit-scrollbar {
  width: 8px;
}

/*------------------ HEADER -----------------*/

.header {
  display: flex;
  flex-direction: column;

  max-width: 1790px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding-top: 42px;
}

.header__wrap {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.header__logo-link {
  margin: 0 6px;

  position: relative;
  top: 4px;

  font-family: var(--fonts-chronicle);
  font-size: 1.8rem;
}

.header__menu {
  display: flex;
}

.header__list {
  display: flex;
  justify-content: space-between;

  max-width: 100%;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  list-style-type: none;
}

.header__item {
  display: flex;
  align-items: center;

  margin: 0 6px;
}

.header__link {
  padding: 0 15px;
  white-space: nowrap;
}

.header__access-button {
  position: relative;

  display: flex;
  align-items: baseline;

  margin: 0 15px 0 0;

  background: transparent;
  border: none;
  cursor: pointer;
}

.header__access-button:hover .header__access-icon {
  fill: var(--color-orange);
}
.header__access-button:hover .header__access-text {
  color: var(--color-orange);
}

.header__access-icon {
  width: 24px;
  height: 24px;

  position: relative;
  top: 6px;
  fill: var(--color-white);
  transition: fill .5s ease-out;
}

.header__access-text {
  padding: 0 5px;
  color: var(--color-white);
  transition: color .5s ease-out;
}

.hero {
  display: inline-block;
  max-width: 52.77rem;
  width: 100%;
  margin-left: 0.6rem;

  text-decoration: none;
}

.hero:hover .hero__scroll {
  color: var(--color-orange);
}

.hero:hover .hero__icon {
  fill: var(--color-orange);
}

.hero__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hero__category,
.article__category {
  text-transform: uppercase;
  letter-spacing: 0.33rem;
  font-weight: bold;
  color: var(--color-orange);
}

.hero__category::before,
.article__category::before {
  content: "";
  display: inline-block;
  position: relative;
  bottom: 3px;
  width: 4rem;
  margin-right: 1.8rem;
  border-top: 2px solid var(--color-orange);
}

.hero__title,
.article__title {
  margin: 1.5rem 0;

  font-family: var(--fonts-chronicle);

  line-height: 5.55rem;

  color: var(--color-white);
}

.hero__title {
  font-size: 4.68rem;
  text-transform: capitalize;
}

.hero__scroll {
  color: var(--color-white);
  transition: color .5s ease-out;
}

.hero__icon {
  position: relative;
  left: 11px;
  top: 5px;

  width: 16px;
  height: 24px;

  fill: var(--color-white);
  transition: fill .5s ease-out;
}


/*------------------ ARTICLE ------------------*/

.content {
  margin-top: 20rem;
}

.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}

.article__wrap {
  display: flex;
  width: 100%;
  flex: 0 0 60%
}

.article__info::before {
  display: block;
  content: attr(data-number);

  position: absolute;
  line-height: 1;
  left: -153px;
  top: -76px;

  font-weight: bold;
  font-size: 13.33rem;
  color: rgba(255, 255, 255, .1);
}

.article__info {
  position: relative;
  max-width: 632px;
  width: 100%;
  margin-left: 8rem;
}
.article__category {
}

.article__title {
  max-width: 555px;
  width: 100%;
  font-size: 3.55rem;
  line-height: 4.35rem;
  letter-spacing: -0.03rem;
}

.article__text {
  margin-bottom: 1.4rem;
  font-weight: bold;
  color: var(--color-white);
}

.article__button {
  color: var(--color-orange);
}

.article__icon {
  position: relative;
  top: 3px;
  left: 15px;

  width: 24px;
  height: 16px;
  fill: var(--color-orange);
}

.article__image-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 2 40%;

  max-width: 566px;
  width: 100%;

  margin: 0 10px;
}

.article__image {
  display: block;
  max-width: 100%;
  height: 100%;
}

.article:nth-child(even) {
  flex-direction: row-reverse;
}

.article:nth-child(even) .article__wrap {
  justify-content: right;
}


/*------------------ FOOTER ------------------*/

.footer {
  padding-top: 100px;
  padding-bottom: 120px;

  display: flex;
  justify-content: space-between;
}

.footer__copy {
  display: flex;
  flex-direction: column;
}

.footer__logo-wrap {
}

.footer__logo-link {
  font-family: var(--fonts-chronicle);
  font-size: 1.8rem;
}

.footer__desc {
  max-width: 303px;
  width: 100%;

  font-weight: bold;
  color: var(--color-white);
}

.footer__copyright {
  margin-top: auto;
  color: rgba(255, 255, 255, .5);
}

.footer__nav-wrap {
  display: flex;
}

.footer__nav + .footer__nav {
  margin-left: 212px;
}

.footer__nav {
}

.footer__title {
  font-size: 1.33rem;
  font-weight: bold;
  line-height: 1.7rem;

  color: var(--color-orange);
}

.footer__list {
  padding: 0;
  list-style-type: none;

}

.footer__item {
}

.footer__link {
  padding: 8px 0;
}



/*------------------ FONTS ------------------*/

@font-face {
  font-family: 'ChronicleDisplay';
  src: local('ChronicleDisplay'), url(../fonts/ChronicleDisplayBold/ChronicleDisplayBold.eot);
  src: url(../fonts/ChronicleDisplayBold/ChronicleDisplayBold.eot?#iefix) format('embedded-opentype'),
  url(../fonts/ChronicleDisplayBold/ChronicleDisplayBold.otf) format('otf'),
  url(../fonts/ChronicleDisplayBold/ChronicleDisplayBold.svg#Chronicle%20Display%20Bold) format('svg'),
  url(../fonts/ChronicleDisplayBold/ChronicleDisplayBold.ttf) format('truetype'),
  url(../fonts/ChronicleDisplayBold/ChronicleDisplayBold.woff) format('woff'),
  url(../fonts/ChronicleDisplayBold/ChronicleDisplayBold.woff2) format('woff2');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'ChronicleDisplay';
  src: local('ChronicleDisplaySemibold'), url(../fonts/ChronicleDisplaySemibold/ChronicleDisplaySemibold.eot);
  src: url(../fonts/ChronicleDisplaySemibold/ChronicleDisplaySemibold.eot?#iefix) format('embedded-opentype'),
  url(../fonts/ChronicleDisplaySemibold/ChronicleDisplaySemibold.woff) format('woff'),
  url(../fonts/ChronicleDisplaySemibold/ChronicleDisplaySemibold.woff2) format('woff2'),
  url(../fonts/ChronicleDisplaySemibold/ChronicleDisplaySemibold.ttf) format('truetype'),
  url(../fonts/ChronicleDisplaySemibold/ChronicleDisplaySemibold.svg#Chronicle%20Display%20Semibold) format('svg'),
  url(../fonts/ChronicleDisplaySemibold/ChronicleDisplaySemibold.otf) format('otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(../fonts/GilroyBold/Gilroy-Bold.eot);
  src: url(../fonts/GilroyBold/Gilroy-Bold.eot?#iefix) format('embedded-opentype'),
  url(../fonts/GilroyBold/Gilroy-Bold.woff2) format('woff2'),
  url(../fonts/GilroyBold/Gilroy-Bold.woff) format('woff'),
  url(../fonts/GilroyBold/Gilroy-Bold.ttf) format('truetype'),
  url(../fonts/GilroyBold/Gilroy-Bold.svg#Gilroy-Bold) format('svg'),
  url(../fonts/GilroyBold/Gilroy-Bold.otf) format('otf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(../fonts/GilroyMedium/Gilroy-Medium.eot);
  src: url(../fonts/GilroyMedium/Gilroy-Medium.eot?#iefix) format('embedded-opentype'),
  url(../fonts/GilroyMedium/Gilroy-Medium.otf) format('otf'),
  url(../fonts/GilroyMedium/Gilroy-Medium.svg#Gilroy-Medium) format('svg'),
  url(../fonts/GilroyMedium/Gilroy-Medium.woff) format('woff'),
  url(../fonts/GilroyMedium/Gilroy-Medium.ttf) format('truetype'),
  url(../fonts/GilroyMedium/Gilroy-Medium.woff2) format('woff2');
  font-weight: 500;
}

/*------------------ MEDIA ------------------*/


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  body {
    font-size: 16px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .content {
    margin-top: 0;
  }

  .header {
    padding-top: 0;
  }

  .hero__title {
    font-size: 3.5rem;
  }

  .article__info {
    margin-left: 5rem;
  }

  .article__info::before {
    left: -99px;
    top: -58px;

    font-size: 9rem;
  }

  .footer {
    flex-direction: column;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}